In [0]:
%sql
drop table Aug_sales_2025;

create table Aug_sales_2025(Date date,
Order_ID int primary key,
Customer varchar(100),
Region varchar(50),
Product varchar(100),
Category varchar(50),
Quantity int,
Unit_Price Decimal(10,2),
Total_Sales Decimal(10,2))

In [0]:
%sql
insert into Aug_sales_2025 (Date, order_ID, Customer, Region, Product, Category, Quantity, Unit_Price, Total_sales) values
('2025-08-01', 1001, 'John Smith', 'North', 'Smartphone', 'Electronics', 2, 699.99, 1399.98),
('2025-08-01', 1002, 'Alice Johnson', 'South', 'Laptop', 'Electronics', 1, 1299.99, 1299.99),
('2025-08-02', 1003, 'Robert Brown', 'East', 'Office Chair', 'Furniture', 4, 89.99, 359.96),
('2025-08-02', 1004, 'Linda Davis', 'West', 'LED Monitor', 'Electronics', 2, 199.99, 399.98),
('2025-08-03', 1005, 'James Wilson', 'North', 'Notebook', 'Stationery', 10, 2.99, 29.90),
('2025-08-03', 1006, 'Emily Clark', 'South', 'Pen Set', 'Stationery', 5, 4.99, 24.95),
('2025-08-04', 1007, 'Daniel Lewis', 'East', 'Tablet', 'Electronics', 3, 299.99, 899.97),
('2025-08-04', 1008, 'Nancy Hall', 'West', 'Desk', 'Furniture', 1, 249.99, 249.99),
('2025-08-05', 1009, 'Steven Young', 'North', 'Smartwatch', 'Electronics', 2, 199.99, 399.98),
('2025-08-05', 1010, 'Jessica King', 'South', 'Printer', 'Electronics', 1, 149.99, 149.99),
('2025-08-06', 1011, 'Kevin White', 'East', 'Desk Lamp', 'Furniture', 3, 34.99, 104.97),
('2025-08-06', 1012, 'Susan Baker', 'West', 'Notebook', 'Stationery', 20, 2.99, 59.80),
('2025-08-07', 1013, 'Paul Green', 'North', 'Keyboard', 'Electronics', 2, 49.99, 99.98),
('2025-08-07', 1014, 'Rachel Adams', 'South', 'Mouse', 'Electronics', 4, 29.99, 119.96),
('2025-08-08', 1015, 'Laura Wright', 'East', 'Filing Cabinet', 'Furniture', 1, 199.99, 199.99),
('2025-08-08', 1016, 'Tom Harris', 'West', 'Whiteboard', 'Furniture', 2, 149.99, 299.98),
('2025-08-09', 1017, 'Olivia Scott', 'North', 'Headphones', 'Electronics', 3, 89.99, 269.97),
('2025-08-09', 1018, 'Henry Moore', 'South', 'Notebook', 'Stationery', 15, 2.99, 44.85),
('2025-08-10', 1019, 'Emma Evans', 'East', 'Pen Set', 'Stationery', 10, 4.99, 49.90),
('2025-08-10', 1020, 'George Turner', 'West', 'Tablet', 'Electronics', 1, 299.99, 299.99),
('2025-08-11', 1021, 'Victoria Hill', 'North', 'Printer', 'Electronics', 2, 149.99, 299.98),
('2025-08-11', 1022, 'Jack Lee', 'South', 'Desk Chair', 'Furniture', 2, 109.99, 219.98),
('2025-08-12', 1023, 'Megan Adams', 'East', 'Monitor', 'Electronics', 1, 179.99, 179.99),
('2025-08-12', 1024, 'Brian Collins', 'West', 'Smartwatch', 'Electronics', 1, 199.99, 199.99),
('2025-08-13', 1025, 'Diana Stewart', 'North', 'Laptop Stand', 'Furniture', 3, 39.99, 119.97);

In [0]:
%sql
select * from aug_sales_2025

## **Sales Analysis**

In [0]:
-- Total revenue

select sum(total_sales) AS Total_revenue from aug_sales_2025;

In [0]:
-- Which region generated the highest total sales

select Region, sum(total_sales) as region_sales from aug_sales_2025 GROUP BY Region ORDER BY region_sales DESC;

In [0]:
-- What are the total sales per product category

select category, sum(total_sales) AS Categorical_sales FROM aug_sales_2025 GROUP BY Category ORDER BY categorical_sales DESC;

In [0]:
-- Which product had the highest unit price

select product, unit_price from aug_sales_2025 ORDER BY unit_price DESC LIMIT 1;

In [0]:
-- What is the average order value

select round(avg(total_sales)) as Avg_total_sales from aug_sales_2025;

In [0]:
-- Which customer made the highest total purchases

select customer, sum(total_sales) AS Total_purchases from aug_sales_2025 GROUP BY customer ORDER BY total_purchases DESC Limit 5;

In [0]:
--How many unique customers are in the dataset

Select count(distinct(customer)) AS Total_unique_cust from aug_sales_2025;

# **Time-Based Analysis**

In [0]:
-- What is the daily sales trend

Select date, sum(total_sales) AS Daily_sales from aug_sales_2025 GROUP BY date ORDER BY Daily_sales DESC;

In [0]:
-- Which day had the highest sales

Select date, sum(total_sales) AS Daily_sales from aug_sales_2025 GROUP BY date ORDER BY Daily_sales DESC Limit 1;

## **Product-Level Insights**

In [0]:
-- What are the top 5 best-selling products?

select product, sum(total_sales) AS product_sales from aug_sales_2025 GROUP BY Product ORDER by Product_sales desc limit 5;

In [0]:
-- Which product had the highest quantity sold

select product, SUM(quantity) AS Total_quantity from aug_sales_2025 GROUP BY product ORDER BY total_quantity DESC LIMIT 1;

In [0]:
-- Which product category has the highest average order value

SELECT category, round(avg(total_sales)) AS Avg_total_sales FROM aug_sales_2025 GROUP BY category ORDER BY avg_total_sales DESC;

In [0]:
-- Calculate the contribution (%) of each region to total sales

SELECT region, SUM(total_sales) AS regional_sales, ROUND(SUM(total_sales) * 100.0/(select SUM(total_sales) from aug_sales_2025),2) AS Percentage_of_total from aug_sales_2025 GROUP BY Region;