In [0]:
%sql
drop table Aug_sales_2025;

create table Aug_sales_2025(Date date,
Order_ID int primary key,
Customer varchar(100),
Region varchar(50),
Product varchar(100),
Category varchar(50),
Quantity int,
Unit_Price float,
Total_Sales float)

In [0]:
%sql
insert into Aug_sales_2025 (Date, order_ID, Customer, Region, Product, Category, Quantity, Unit_Price, Total_sales) values
('2025-08-01', 1001, 'John Smith', 'North', 'Smartphone', 'Electronics', 2, 699.99, 1399.98),
('2025-08-01', 1002, 'Alice Johnson', 'South', 'Laptop', 'Electronics', 1, 1299.99, 1299.99),
('2025-08-02', 1003, 'Robert Brown', 'East', 'Office Chair', 'Furniture', 4, 89.99, 359.96),
('2025-08-02', 1004, 'Linda Davis', 'West', 'LED Monitor', 'Electronics', 2, 199.99, 399.98),
('2025-08-03', 1005, 'James Wilson', 'North', 'Notebook', 'Stationery', 10, 2.99, 29.90),
('2025-08-03', 1006, 'Emily Clark', 'South', 'Pen Set', 'Stationery', 5, 4.99, 24.95),
('2025-08-04', 1007, 'Daniel Lewis', 'East', 'Tablet', 'Electronics', 3, 299.99, 899.97),
('2025-08-04', 1008, 'Nancy Hall', 'West', 'Desk', 'Furniture', 1, 249.99, 249.99),
('2025-08-05', 1009, 'Steven Young', 'North', 'Smartwatch', 'Electronics', 2, 199.99, 399.98),
('2025-08-05', 1010, 'Jessica King', 'South', 'Printer', 'Electronics', 1, 149.99, 149.99),
('2025-08-06', 1011, 'Kevin White', 'East', 'Desk Lamp', 'Furniture', 3, 34.99, 104.97),
('2025-08-06', 1012, 'Susan Baker', 'West', 'Notebook', 'Stationery', 20, 2.99, 59.80),
('2025-08-07', 1013, 'Paul Green', 'North', 'Keyboard', 'Electronics', 2, 49.99, 99.98),
('2025-08-07', 1014, 'Rachel Adams', 'South', 'Mouse', 'Electronics', 4, 29.99, 119.96),
('2025-08-08', 1015, 'Laura Wright', 'East', 'Filing Cabinet', 'Furniture', 1, 199.99, 199.99),
('2025-08-08', 1016, 'Tom Harris', 'West', 'Whiteboard', 'Furniture', 2, 149.99, 299.98),
('2025-08-09', 1017, 'Olivia Scott', 'North', 'Headphones', 'Electronics', 3, 89.99, 269.97),
('2025-08-09', 1018, 'Henry Moore', 'South', 'Notebook', 'Stationery', 15, 2.99, 44.85),
('2025-08-10', 1019, 'Emma Evans', 'East', 'Pen Set', 'Stationery', 10, 4.99, 49.90),
('2025-08-10', 1020, 'George Turner', 'West', 'Tablet', 'Electronics', 1, 299.99, 299.99),
('2025-08-11', 1021, 'Victoria Hill', 'North', 'Printer', 'Electronics', 2, 149.99, 299.98),
('2025-08-11', 1022, 'Jack Lee', 'South', 'Desk Chair', 'Furniture', 2, 109.99, 219.98),
('2025-08-12', 1023, 'Megan Adams', 'East', 'Monitor', 'Electronics', 1, 179.99, 179.99),
('2025-08-12', 1024, 'Brian Collins', 'West', 'Smartwatch', 'Electronics', 1, 199.99, 199.99),
('2025-08-13', 1025, 'Diana Stewart', 'North', 'Laptop Stand', 'Furniture', 3, 39.99, 119.97);

In [0]:
%sql
select * from aug_sales_2025

In [0]:
%sql
ALTER TABLE Aug_sales_2025 SET TBLPROPERTIES ('delta.columnMapping.mode' = 'name')

In [0]:
%sql
ALTER TABLE Aug_sales_2025 DROP COLUMN IF EXISTS Unit_Price;

ALTER TABLE Aug_sales_2025 ADD COLUMN Unit_Price DECIMAL(10,2);

ALTER TABLE Aug_sales_2025 DROP COLUMN IF EXISTS Total_Sales;

ALTER TABLE Aug_sales_2025 ADD COLUMN Total_Sales DECIMAL(10,2);